# Environment
.env
venv/
__pycache__/
*.pyc

# Database
*.db

# Storage
storage/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Proxy files (MTProto)
*.pem
id_telegram
id_telegram.pub

# Temp
temp.txt
